@import "~bootstrap/dist/css/bootstrap.min.css";
   @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Baloo Bhai 2', cursive;
        }
        section{
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .btn_container{
            margin-top: 50px;
        }
        .bulb_btn{
            font-family: 'Baloo Bhai 2', cursive;
            width: 150px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 8px;
            background: #bababa;
            font-size: 30px;
        }
