#container {
	height: 400px;
	width: 300px;
}
#ball {
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: red;
	margin-top: 360px;
	margin-left: 130px;
}
#line {
	width: 300px;
	height: 10px;
	background: #000;
}
#start-btn {
	padding: 10px 20px;
	margin-top: 10px;
	color: #000;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
	font-weight: 900;
}
#start-btn:hover {
	background-color: #eee;
}
